# Hassas dosyalar
.env
.env.
*.sqlite3
*.sqlite3.backup
data.json

# Python derleme dosyaları
*.pyc
_pycache_/
*.pyo
*.pyd

# Django statik ve medya dosyaları
/staticfiles/
/media/

# Sanal ortamlar
venv/
env/
.venv/

# Log dosyaları
*.log

# IDE ve editör dosyaları
.vscode/
.idea/
.DS_Store

# Test ve geliştirme araçları
.pytest_cache/
.coverage

# Geçici dosyalar
*.cache
*.tmp