 <!-- Hero Section -->
 <div class="hero-section">
    <div class="overlay">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- İlk Slide -->
                <div class="carousel-item active">
                    <div class="slide-container">
                        <h1 class="text-white">Kütüphanemize Hoş Geldiniz</h1>
                        <p class="text-white">Binlerce kitap sizi bekliyor...</p>
                    </div>
                </div>
                <!-- İkinci Slide -->
                <div class="carousel-item">
                    <div class="slide-container">
                        <h1 class="text-white">Keşfedin, Öğrenin, Büyüyün</h1>
                        <p class="text-white">Yeni kitaplarla bilgiye yolculuk yapın.</p>
                    </div>
                </div>
                <!-- Üçüncü Slide -->
                <div class="carousel-item">
                    <div class="slide-container">
                        <h1 class="text-white">Daha Fazla Kitap, Daha Fazla Keşif</h1>
                        <p class="text-white">Okumak için bekleyen binlerce kitap!</p>
                    </div>
                </div>
            </div>
            <!-- Karusel Kontrolleri -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<style>
    .carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev {
    left: -20%;
}

.carousel-control-next {
    right: -20%;
}
</style>